# Created by https://www.gitignore.io/api/python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Testing
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Tensorflow logs
logs/

# Jupyter Notebook
.ipynb_checkpoints

# Spyder project settings
.spyderproject
.spyproject

# VS Code
.vscode/

# IntelliJ
.idea/
